.contaner {
    width: 90%;
    margin: 5%;
}

.logo-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 0%;
    margin-right: 2%;
    box-shadow: 0 8px 6px -6px gray;
}

title {
    font-family: serif;
}

#logo {
    margin-left: 40px;
    clip: rect(20px, 0px, 20px, 0px);
}

#news-header {
    font-size: 180%;
    letter-spacing: 10px;
    font-display: auto;
    font-family: raleway;
    margin-left: 10%;
    display: flex;
    color: black;
}

#side-navigator img {
    display: none;
}

.news-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 40px;
}

#menu {

    font-size: 30px;
    text-decoration: none;
    font-style: normal;
    font-display: auto;
}

.news-menu a {

    list-style-type: none;
    color: gray;
    text-decoration: none;
}

.news-block {
    width: 100%;
    position: relative;
}

#image-text {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.image-text-pic {
    object-fit: cover;
    width: 100%;
    height: inherit;
    padding: auto;
}

#text-edit {
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: gray;
}

.main-news-list {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-family: inherit;
    color: darkgrey;
    border-bottom-style: ridge;
}

.news-list {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: inherit;
    color: gray;
}

.news-division {
    border-bottom-style: ridge;
}

.news-list p {
   
}


.team-score {
    margin-top: 5%;
}

td {
    padding-top: 25px;
    font-size: 23px;
    font-family: sans-serif;
    color: lightslategray;

}

th {
    text-align: left;
    margin-left: 50px;
    padding-left: 50px;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 23px;
    font-family: sans-serif;
    color: lightgray;
}


.weather {
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.live-update {
    display: flex;

}

.live-update p {
    font-size: 50px;
    font-family: serif;
    margin-left: 20px;
}

.seperate-report img {
    width: 160%;
    height: auto;
}

.weather-report {
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
}

.latest-news-head {
    display: flex;
    justify-content: space-between;
    font-size: 140%;
    font-family: inherit;
    color: darkgrey;
    border-bottom-style: ridge;
}

.list-one {
    height: 120px;
    width: 150px;
    float: left;
    margin-right: 15px;
}

.list-two {
    height: 120px;
    width: 150px;
    float: left;
    margin-right: 15px;
}

.list-three {
    height: 120px;
    width: 150px;
    float: left;
    margin-right: 15px;
}

.list-four {
    height: 120px;
    width: 150px;
    float: left;
    margin-right: 15px;
}

.list-1 {
    padding-top: 4%;
    font-size: 100%;
}

.list-1 p {
    margin-top: 0%;
}

.latest-news {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 2%;
}

.footer {
    display: flex;
    padding-right: 5%;
    justify-content: space-around;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 8px 6px -6px gray;
    padding-left: 5%;
    font-size: 130%;
    font-family: sans-serif;
    letter-spacing: 3px;
}

.footer a {
    list-style-type: none;
    color: gray;
    text-decoration: none;
}




@media only screen and (max-width: 600px) {

    /*  For Mobile View   */

    #text-edit {
        background-color: rgb(18, 23, 30, 0.4);

        width: 100%;
        margin-bottom: 0.8%;
        font-size: 70%;
        color: gray;
    }

    .news-menu {
        display: none;
    }

    #news-heder {
        font-family: raleway;
    }

    .logo-section {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    #logo {
        margin-left: 40px;
        height: 50px;
        width: 50px;
    }

    #logo img {
        width: 90%;
        margin-left: 0px;

    }

    #image-text img {
        width: 100%;
    }


    #news-header h4 {
        font-size: 20px;
        letter-spacing: 7px;
        font-display: auto;
        font-family: serif;
        display: flex;
        margin-right: auto;
        margin-top: auto;
    }

    .team-score {
        
    }

    .news-list p {
        font-size: 80%;
    }

    .weather {
        height: auto;
        width: auto;

        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 2px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: gray;
        color: white;
    }

    .weather-report {
        display: flex;
        justify-content: space-around;

    }

    .weather-report p {
        margin-left: auto;
    }

    .weather-report img {
        margin-right: auto;
        width: inherit;
    }

    .list-1 {
        padding-top: 6%;
        font-size: 100%;
    }

    .list-1 img {
        width: 30%;

    }

    .footer {
        font-size: 80%;
        justify-content: space-between;
    }

}


@media only screen and (min-width: 600px) and (max-width: 950px) {

    /*  For Tab View   */
    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: gray;
        color: white;
    }

    .news-block {
        height: auto;
        width: 100%;
    }

    #image-text-pic {
        position: relative;
        width: 300%;
        height: inherit;
        padding-top: 50%;

    }

    .temprature-city {
        font-size: 70%;
    }

    .live-update {
        width: 10%;
        font-size: 50%;
    }

    .live-update p {
        font-size: 200%;
    }

    .weather-report {
        font-size: 70%;
    }

    .weather {
        width: 100%;
        height: 120%;
        margin-left: 4%;
    }

    .seperate-report img {
        width: 80%;
        height: auto;
    }


    #text-edit {
        position: absolute;
        width: inherit;
        box-sizing: border-box;
        bottom: 5;
        font-size: 70%;
        background-color: rgb(18, 23, 30, 0.4);
    }

    .main-section {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
    }

    .news-block {
        order: 1;
        width: 55%;
    }

    .section-2 {
        order: 3;
        width: 100%;
    }

    .section-3 {
        order: 4;
        width: 100%;
    }

    .section-4 {
        order: 2;
        width: 45%;
    }

    .list-1 {
        padding-top: 6%;
        font-size: 100%;
    }

    .footer {
        font-size: 100%;
        justify-content: space-between;
    }

}